.notifications {
	margin: 0;
	padding: 0;
	position: fixed;
	right: 0;
	top: 76px;
	z-index: 2;
}

.notifications li {
	background: #68a42b none repeat scroll 0 0;
	border-top: 1px solid rgba(255, 255, 255, 0.3);
	box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.5);
	color: white;
	display: block;
	max-width: 320px;
	padding: 6px 10px;
	position: relative;
}

.notifications li:first-child {
	border-top: 0 none;
}